# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Database file
# It should be moved to appropriate location later on, for now let it
# stay in repo but at least let git ignore it.
database.db

# Idea/Pycharm settings
.idea

# Cython debug symbols
cython_debug/

